In [1]:
import math
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn import metrics
import statsmodels.api as sm
from imblearn.over_sampling import SMOTE
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report
from sklearn.metrics import roc_auc_score
from sklearn.metrics import roc_curve

In [2]:
# load dataset
df = pd.read_csv('train_2v.csv')

In [3]:
stroked_count=0
for i in range(0, len(df.index)):
    if df.iloc[i]['stroke'] == 1:
        stroked_count +=1

no_stroked_count=0
for i in range(0, len(df.index)):
    if df.iloc[i]['stroke'] == 0:
        no_stroked_count +=1

print("No Strokes:", no_stroked_count)

print("Strokes:",stroked_count)

print(df)

No Strokes: 42617
Strokes: 783
          id  gender   age  hypertension  heart_disease ever_married  \
0      30669    Male   3.0             0              0           No
1      30468    Male  58.0             1              0          Yes
2      16523  Female   8.0             0              0           No
3      56543  Female  70.0             0              0          Yes
4      46136    Male  14.0             0              0           No
5      32257  Female  47.0             0              0          Yes
6      52800  Female  52.0             0              0          Yes
7      41413  Female  75.0             0              1          Yes
8      15266  Female  32.0             0              0          Yes
9      28674  Female  74.0             1              0          Yes
10     10460  Female  79.0             0              0          Yes
11     64908    Male  79.0             0              1          Yes
12     63884  Female  37.0             0              0          Yes
13     37893  Female  37.0             0              0          Yes
14     67855  Female  40.0             0              0          Yes
15     25774    Male  35.0             0              0           No
16     19584  Female  20.0             0              0           No
17     24447  Female  42.0             0              0          Yes
18     49589  Female  44.0             0              0          Yes
19     17986  Female  79.0             0              1          Yes
20     29217  Female  65.0             1              0          Yes
21     72911  Female  57.0             1              0          Yes
22     47175  Female  49.0             0              0          Yes
23      4057    Male  71.0             0              0          Yes
24     48588  Female  59.0             0              0          Yes
25     70336  Female  25.0             0              0          Yes
26     66767  Female  67.0             0              0          Yes
27     45801  Female  38.0             0              0           No
28     36275  Female  54.0             0              0          Yes
29     11577  Female  70.0             0              0          Yes
...      ...     ...   ...           ...            ...          ...
43370   8908    Male  79.0             0              0          Yes
43371  18119  Female  78.0             0              0          Yes
43372  45066    Male  36.0             1              0          Yes
43373   2712  Female  46.0             0              0           No
43374  35172    Male  49.0             0              0          Yes
43375  51452  Female  70.0             0              0          Yes
43376  65913  Female   3.0             0              0           No
43377  29122  Female  63.0             0              0          Yes
43378  12555    Male  22.0             0              0           No
43379  13530    Male  47.0             0              1          Yes
43380  46293    Male  26.0             0              0          Yes
43381  57176    Male  45.0             0              0          Yes
43382  35179  Female   9.0             0              0           No
43383  38020    Male  18.0             0              0           No
43384  44814  Female  65.0             0              0          Yes
43385   5366  Female  66.0             0              0          Yes
43386  18828    Male  68.0             0              1          Yes
43387  25888    Male  20.0             0              0           No
43388  31321  Female  64.0             1              0          Yes
43389  30759    Male  14.0             0              0           No
43390  10096  Female  69.0             0              0          Yes
43391  30077    Male   6.0             0              0           No
43392  45266  Female  18.0             0              0           No
43393  69344    Male  39.0             0              0          Yes
43394  52380    Male  47.0             0              0           No
43395  56196  Female  10.0             0              0           No
43396   5450  Female  56.0             0              0          Yes
43397  28375  Female  82.0             1              0          Yes
43398  27973    Male  40.0             0              0          Yes
43399  36271  Female  82.0             0              0          Yes

           work_type Residence_type  avg_glucose_level   bmi   smoking_status  \
0           children          Rural              95.12  18.0              NaN
1            Private          Urban              87.96  39.2     never smoked
2            Private          Urban             110.89  17.6              NaN
3            Private          Rural              69.04  35.9  formerly smoked
4       Never_worked          Rural             161.28  19.1              NaN
5            Private          Urban             210.95  50.1              NaN
6            Private          Urban              77.59  17.7  formerly smoked
7      Self-employed          Rural             243.53  27.0     never smoked
8            Private          Rural              77.67  32.3           smokes
9      Self-employed          Urban             205.84  54.6     never smoked
10          Govt_job          Urban              77.08  35.0              NaN
11           Private          Urban              57.08  22.0  formerly smoked
12           Private          Rural             162.96  39.4     never smoked
13           Private          Rural              73.50  26.1  formerly smoked
14           Private          Rural              95.04  42.4     never smoked
15           Private          Rural              85.37  33.0     never smoked
16           Private          Urban              84.62  19.7           smokes
17           Private          Rural              82.67  22.5     never smoked
18          Govt_job          Urban              57.33  24.6           smokes
19     Self-employed          Urban              67.84  25.2           smokes
20           Private          Rural              75.70  41.8              NaN
21           Private          Rural             129.54  60.9           smokes
22           Private          Rural              60.22  31.5           smokes
23           Private          Urban             198.21  27.3  formerly smoked
24           Private          Urban             109.82  23.7     never smoked
25           Private          Urban              60.84  24.5     never smoked
26          Govt_job          Rural              94.61  28.4           smokes
27           Private          Rural              97.49  26.9     never smoked
28           Private          Rural             206.72  26.7     never smoked
29     Self-employed          Rural             214.45  31.2     never smoked
...              ...            ...                ...   ...              ...
43370  Self-employed          Rural             100.71  25.2     never smoked
43371        Private          Urban             182.45   NaN  formerly smoked
43372        Private          Urban             149.22  33.4              NaN
43373        Private          Rural              88.66  34.5           smokes
43374        Private          Rural              98.91  35.3           smokes
43375  Self-employed          Rural             121.45  27.3     never smoked
43376       children          Rural              83.32  21.3              NaN
43377       Govt_job          Urban              88.08  33.6     never smoked
43378        Private          Urban              86.82  30.2     never smoked
43379       Govt_job          Urban              89.25  29.0              NaN
43380        Private          Rural              71.31  25.3  formerly smoked
43381        Private          Urban             214.05  40.5  formerly smoked
43382       children          Urban              68.49  16.8              NaN
43383        Private          Urban             131.73  24.9     never smoked
43384        Private          Rural             200.92  30.7  formerly smoked
43385  Self-employed          Urban              92.10  24.8              NaN
43386        Private          Urban             113.60  25.5     never smoked
43387        Private          Rural              83.37  26.5     never smoked
43388       Govt_job          Rural             228.43   NaN           smokes
43389       children          Urban              82.48  24.8              NaN
43390  Self-employed          Urban             229.85  31.2     never smoked
43391       children          Urban              77.48  19.1              NaN
43392        Private          Urban             131.96  22.8              NaN
43393        Private          Rural             132.22  31.6     never smoked
43394       Govt_job          Urban              68.52  25.2  formerly smoked
43395       children          Urban              58.64  20.4     never smoked
43396       Govt_job          Urban             213.61  55.4  formerly smoked
43397        Private          Urban              91.94  28.9  formerly smoked
43398        Private          Urban              99.16  33.2     never smoked
43399        Private          Urban              79.48  20.6     never smoked

       stroke
0           0
1           0
2           0
3           0
4           0
5           0
6           0
7           0
8           0
9           0
10          0
11          0
12          0
13          0
14          0
15          0
16          0
17          0
18          0
19          0
20          0
21          0
22          0
23          0
24          0
25          0
26          0
27          0
28          0
29          0
...       ...
43370       0
43371       0
43372       0
43373       0
43374       0
43375       0
43376       0
43377       0
43378       0
43379       0
43380       0
43381       0
43382       0
43383       0
43384       0
43385       0
43386       0
43387       0
43388       0
43389       0
43390       0
43391       0
43392       0
43393       0
43394       0
43395       0
43396       0
43397       0
43398       0
43399       0

[43400 rows x 12 columns]

In [4]:
#Data Quality Report Before Preprocessing
# find datatype of each column
data_types = pd.DataFrame(df.dtypes, columns=['Data Type'])

# count number of missing observations by column
missing_data_counts = pd.DataFrame(df.isnull().sum(), columns=['Missing Values'])

# count number of present observations by column
present_data_counts = pd.DataFrame(df.count(), columns=['Present Values'])

# count number of unique observations by column
unique_value_counts = pd.DataFrame(columns=['Unique Values'])
for v in list(df.columns.values):
	unique_value_counts.loc[v] = [df[v].nunique()]

data_quality_report = pd.concat([present_data_counts, missing_data_counts, unique_value_counts], axis=1)
print(data_quality_report)

                   Present Values  Missing Values Unique Values
id                          43400               0         43400
gender                      43400               0             3
age                         43400               0           104
hypertension                43400               0             2
heart_disease               43400               0             2
ever_married                43400               0             2
work_type                   43400               0             5
Residence_type              43400               0             2
avg_glucose_level           43400               0         12543
bmi                         41938            1462           555
smoking_status              30108           13292             3
stroke                      43400               0             2

In [5]:
#Here we can observe that we have two attributes with missing values i.e bmi and smoking_status

#Since bmi is a numerical variable we find mean it's mean, median and mode

print("For bmi")
print("Mean:", df['bmi'].mean())
print("Median:", df['bmi'].median())
print("Mode:", df['bmi'].mode())

#We observe that mean, median and mode for bmi are nearly the same
#So we replace the missing values with mean
df['bmi']= df['bmi'].replace(np.nan, df['bmi'].mean())
#print(df)

For bmi
Mean: 28.605038390004545
Median: 27.7
Mode: 0    27.7
dtype: float64

In [6]:
no_stroke_data =0
stroke_data =0

df=df.fillna('NA')
for i in range(len(df.index)):
    if df.iloc[i]['smoking_status'] == 'NA' and df.iloc[i]['stroke'] == 0:
        no_stroke_data=no_stroke_data+1
        
print(no_stroke_data)
stroke_data = 13292 - no_stroke_data
print(stroke_data)

#We have an imbalanced dataset with very few data entries which corresponds to "Stroke", so we cannot remove the 
#rows where smoking_status is missing

13147
145

In [7]:
df['Male'] = 0
print(len(df.index))

for i in range(0, len(df.index)):
    if df.iloc[i]['gender'] == 'Male':
        df.loc[i,'Male'] = 1
df = df.drop('gender', axis=1)

df['married'] = 0

for i in range(0, len(df.index)):
	if df.ix[i]['ever_married'] == 'Yes':
		df.loc[i,'married'] = 1
df = df.drop('ever_married', axis=1)
   
df['urban'] = 0

for i in range(0, len(df.index)):
	if df.ix[i]['Residence_type'] == 'Urban':
		df.loc[i,'urban'] = 1
df = df.drop('Residence_type', axis=1)

df['children']=0
df['Private']=0
df['Self-employed']=0
df['Govt_job']=0
df['Never_worked']=0
for i in range(0, len(df.index)):
    if df.ix[i]['work_type'] == 'children':
        df.loc[i,'children'] = 1
    if df.ix[i]['work_type'] == 'Private':
        df.loc[i,'Private'] = 1
    if df.ix[i]['work_type'] == 'Self-employed':
        df.loc[i,'Self-employed'] = 1
    if df.ix[i]['work_type'] == 'Govt_job':
        df.loc[i,'Govt_job'] = 1
    if df.ix[i]['work_type'] == 'Never_worked':
        df.loc[i,'Never_worked'] = 1
    
df = df.drop('work_type', axis=1)


print(df)

43400

C:\Users\Vidhi Bansal\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  if sys.path[0] == '':
C:\Users\Vidhi Bansal\Anaconda3\lib\site-packages\ipykernel_launcher.py:19: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
C:\Users\Vidhi Bansal\Anaconda3\lib\site-packages\ipykernel_launcher.py:29: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
C:\Users\Vidhi Bansal\Anaconda3\lib\site-packages\ipykernel_launcher.py:31: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
C:\Users\Vidhi Bansal\Anaconda3\lib\site-packages\ipykernel_launcher.py:33: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
C:\Users\Vidhi Bansal\Anaconda3\lib\site-packages\ipykernel_launcher.py:35: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
C:\Users\Vidhi Bansal\Anaconda3\lib\site-packages\ipykernel_launcher.py:37: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated

          id   age  hypertension  heart_disease  avg_glucose_level        bmi  \
0      30669   3.0             0              0              95.12  18.000000
1      30468  58.0             1              0              87.96  39.200000
2      16523   8.0             0              0             110.89  17.600000
3      56543  70.0             0              0              69.04  35.900000
4      46136  14.0             0              0             161.28  19.100000
5      32257  47.0             0              0             210.95  50.100000
6      52800  52.0             0              0              77.59  17.700000
7      41413  75.0             0              1             243.53  27.000000
8      15266  32.0             0              0              77.67  32.300000
9      28674  74.0             1              0             205.84  54.600000
10     10460  79.0             0              0              77.08  35.000000
11     64908  79.0             0              1              57.08  22.000000
12     63884  37.0             0              0             162.96  39.400000
13     37893  37.0             0              0              73.50  26.100000
14     67855  40.0             0              0              95.04  42.400000
15     25774  35.0             0              0              85.37  33.000000
16     19584  20.0             0              0              84.62  19.700000
17     24447  42.0             0              0              82.67  22.500000
18     49589  44.0             0              0              57.33  24.600000
19     17986  79.0             0              1              67.84  25.200000
20     29217  65.0             1              0              75.70  41.800000
21     72911  57.0             1              0             129.54  60.900000
22     47175  49.0             0              0              60.22  31.500000
23      4057  71.0             0              0             198.21  27.300000
24     48588  59.0             0              0             109.82  23.700000
25     70336  25.0             0              0              60.84  24.500000
26     66767  67.0             0              0              94.61  28.400000
27     45801  38.0             0              0              97.49  26.900000
28     36275  54.0             0              0             206.72  26.700000
29     11577  70.0             0              0             214.45  31.200000
...      ...   ...           ...            ...                ...        ...
43370   8908  79.0             0              0             100.71  25.200000
43371  18119  78.0             0              0             182.45  28.605038
43372  45066  36.0             1              0             149.22  33.400000
43373   2712  46.0             0              0              88.66  34.500000
43374  35172  49.0             0              0              98.91  35.300000
43375  51452  70.0             0              0             121.45  27.300000
43376  65913   3.0             0              0              83.32  21.300000
43377  29122  63.0             0              0              88.08  33.600000
43378  12555  22.0             0              0              86.82  30.200000
43379  13530  47.0             0              1              89.25  29.000000
43380  46293  26.0             0              0              71.31  25.300000
43381  57176  45.0             0              0             214.05  40.500000
43382  35179   9.0             0              0              68.49  16.800000
43383  38020  18.0             0              0             131.73  24.900000
43384  44814  65.0             0              0             200.92  30.700000
43385   5366  66.0             0              0              92.10  24.800000
43386  18828  68.0             0              1             113.60  25.500000
43387  25888  20.0             0              0              83.37  26.500000
43388  31321  64.0             1              0             228.43  28.605038
43389  30759  14.0             0              0              82.48  24.800000
43390  10096  69.0             0              0             229.85  31.200000
43391  30077   6.0             0              0              77.48  19.100000
43392  45266  18.0             0              0             131.96  22.800000
43393  69344  39.0             0              0             132.22  31.600000
43394  52380  47.0             0              0              68.52  25.200000
43395  56196  10.0             0              0              58.64  20.400000
43396   5450  56.0             0              0             213.61  55.400000
43397  28375  82.0             1              0              91.94  28.900000
43398  27973  40.0             0              0              99.16  33.200000
43399  36271  82.0             0              0              79.48  20.600000

        smoking_status  stroke  Male  married  urban  children  Private  \
0                   NA       0     1        0      0         1        0
1         never smoked       0     1        1      1         0        1
2                   NA       0     0        0      1         0        1
3      formerly smoked       0     0        1      0         0        1
4                   NA       0     1        0      0         0        0
5                   NA       0     0        1      1         0        1
6      formerly smoked       0     0        1      1         0        1
7         never smoked       0     0        1      0         0        0
8               smokes       0     0        1      0         0        1
9         never smoked       0     0        1      1         0        0
10                  NA       0     0        1      1         0        0
11     formerly smoked       0     1        1      1         0        1
12        never smoked       0     0        1      0         0        1
13     formerly smoked       0     0        1      0         0        1
14        never smoked       0     0        1      0         0        1
15        never smoked       0     1        0      0         0        1
16              smokes       0     0        0      1         0        1
17        never smoked       0     0        1      0         0        1
18              smokes       0     0        1      1         0        0
19              smokes       0     0        1      1         0        0
20                  NA       0     0        1      0         0        1
21              smokes       0     0        1      0         0        1
22              smokes       0     0        1      0         0        1
23     formerly smoked       0     1        1      1         0        1
24        never smoked       0     0        1      1         0        1
25        never smoked       0     0        1      1         0        1
26              smokes       0     0        1      0         0        0
27        never smoked       0     0        0      0         0        1
28        never smoked       0     0        1      0         0        1
29        never smoked       0     0        1      0         0        0
...                ...     ...   ...      ...    ...       ...      ...
43370     never smoked       0     1        1      0         0        0
43371  formerly smoked       0     0        1      1         0        1
43372               NA       0     1        1      1         0        1
43373           smokes       0     0        0      0         0        1
43374           smokes       0     1        1      0         0        1
43375     never smoked       0     0        1      0         0        0
43376               NA       0     0        0      0         1        0
43377     never smoked       0     0        1      1         0        0
43378     never smoked       0     1        0      1         0        1
43379               NA       0     1        1      1         0        0
43380  formerly smoked       0     1        1      0         0        1
43381  formerly smoked       0     1        1      1         0        1
43382               NA       0     0        0      1         1        0
43383     never smoked       0     1        0      1         0        1
43384  formerly smoked       0     0        1      0         0        1
43385               NA       0     0        1      1         0        0
43386     never smoked       0     1        1      1         0        1
43387     never smoked       0     1        0      0         0        1
43388           smokes       0     0        1      0         0        0
43389               NA       0     1        0      1         1        0
43390     never smoked       0     0        1      1         0        0
43391               NA       0     1        0      1         1        0
43392               NA       0     0        0      1         0        1
43393     never smoked       0     1        1      0         0        1
43394  formerly smoked       0     1        0      1         0        0
43395     never smoked       0     0        0      1         1        0
43396  formerly smoked       0     0        1      1         0        0
43397  formerly smoked       0     0        1      1         0        1
43398     never smoked       0     1        1      1         0        1
43399     never smoked       0     0        1      1         0        1

       Self-employed  Govt_job  Never_worked
0                  0         0             0
1                  0         0             0
2                  0         0             0
3                  0         0             0
4                  0         0             1
5                  0         0             0
6                  0         0             0
7                  1         0             0
8                  0         0             0
9                  1         0             0
10                 0         1             0
11                 0         0             0
12                 0         0             0
13                 0         0             0
14                 0         0             0
15                 0         0             0
16                 0         0             0
17                 0         0             0
18                 0         1             0
19                 1         0             0
20                 0         0             0
21                 0         0             0
22                 0         0             0
23                 0         0             0
24                 0         0             0
25                 0         0             0
26                 0         1             0
27                 0         0             0
28                 0         0             0
29                 1         0             0
...              ...       ...           ...
43370              1         0             0
43371              0         0             0
43372              0         0             0
43373              0         0             0
43374              0         0             0
43375              1         0             0
43376              0         0             0
43377              0         1             0
43378              0         0             0
43379              0         1             0
43380              0         0             0
43381              0         0             0
43382              0         0             0
43383              0         0             0
43384              0         0             0
43385              1         0             0
43386              0         0             0
43387              0         0             0
43388              0         1             0
43389              0         0             0
43390              1         0             0
43391              0         0             0
43392              0         0             0
43393              0         0             0
43394              0         1             0
43395              0         0             0
43396              0         1             0
43397              0         0             0
43398              0         0             0
43399              0         0             0

[43400 rows x 16 columns]

In [8]:
#Without Smoking Status
df1 = df.drop('smoking_status', axis=1)
print(df1.head(10))
smt = SMOTE()
X_train = df1.drop('stroke', axis=1).values
y_train = df1['stroke'].values
X_train, y_train = smt.fit_sample(X_train, y_train)

      id   age  hypertension  heart_disease  avg_glucose_level   bmi  stroke  \
0  30669   3.0             0              0              95.12  18.0       0
1  30468  58.0             1              0              87.96  39.2       0
2  16523   8.0             0              0             110.89  17.6       0
3  56543  70.0             0              0              69.04  35.9       0
4  46136  14.0             0              0             161.28  19.1       0
5  32257  47.0             0              0             210.95  50.1       0
6  52800  52.0             0              0              77.59  17.7       0
7  41413  75.0             0              1             243.53  27.0       0
8  15266  32.0             0              0              77.67  32.3       0
9  28674  74.0             1              0             205.84  54.6       0

   Male  married  urban  children  Private  Self-employed  Govt_job  \
0     1        0      0         1        0              0         0
1     1        1      1         0        1              0         0
2     0        0      1         0        1              0         0
3     0        1      0         0        1              0         0
4     1        0      0         0        0              0         0
5     0        1      1         0        1              0         0
6     0        1      1         0        1              0         0
7     0        1      0         0        0              1         0
8     0        1      0         0        1              0         0
9     0        1      1         0        0              1         0

   Never_worked
0             0
1             0
2             0
3             0
4             1
5             0
6             0
7             0
8             0
9             0

In [9]:
np.bincount(y_train)

#Both categories have equal amount of records
#More specifically, the minority class has been increased to the total number of majority class.

array([42617, 42617], dtype=int64)

In [10]:
#print(df.corr(method='pearson'))
#So out of 783, losing 145 data entries i.e 18% of the stroked data is not a very good choice

#dff = pd.DataFrame(X_train, columns=['id','age','hypertension','heart_disease','avg_glucose_level','bmi','Male','married','urban','children','Private','Self-employed','Govt_job','Never_worked'])
#dff['stroke'] = 0

#dff.to_csv('tt.csv')

In [12]:
#dee = pd.DataFrame(y_train,columns=['stroke'])
#dee.to_csv('final_y.csv')